body {
    font-family: Courier New, monospace;
    background-color: #ff8181;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

header {
    text-align: center;
}

h1 {
    color: #333;
    margin: 0;
    padding: 0em 0 10em;
    font-size: 2.5em;
    font-weight: bold;
}

.gif-container {
    margin-top: 20px; 
}

.gif-container img {
    max-width: 100%;
    height: auto;
}